## **[1] 딕셔너리란?**
- 키(Key): 값(Value)의 쌍이 모여있는 사전 형태의 자료형입니다.
- 키: 값의 쌍을 중괄호(`{}`)로 감싸줍니다.
 - `변수명 = {'키1':값, '키2':값, ...}`
- 키는 중복될 수 없고, 리스트는 키가 될 수 없습니다.
- 위치로 인덱싱이 되지 않습니다.

In [1]:
dic = {'name':'merry',\
      'num':1,\
      'birth':'jan'}
dic

{'name': 'merry', 'num': 1, 'birth': 'jan'}

In [2]:
dic = {'name':['merry','john'],\
      'num':[1,2,3],\
      'birth':['jan','feb','nov']}
dic

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

In [3]:
{'name':'merry', 'name':'john'}

{'name': 'john'}

In [4]:
{['name','num']:['merry', 1]}

TypeError: unhashable type: 'list'

In [ ]:
{('name','num'):[('merry',1),('john',2)]}

In [5]:
dic[0]

KeyError: 0

## **[2] 딕셔너리 요소 추가, 삭제하기**
- 추가: `딕셔너리변수명[추가할키]=추가할값`
- 삭제: `del 딕셔너리변수명[삭제할키]`

In [6]:
dic

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

In [7]:
print(dic)
dic['country'] = ['Korea','US']
print(dic)

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}
{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov'], 'country': ['Korea', 'US']}

In [8]:
del dic['country']
print(dic)

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

## **[3] 딕셔너리 키로 값 찾기**
- `딕셔너리변수명[찾을키]`

In [9]:
print(dic['name'])
print(dic['num'])

['merry', 'john']
[1, 2, 3]

In [10]:
dic['country']

KeyError: 'country'

## **[4] 딕셔너리 함수**
- `keys()`: 키들을 반환합니다.
- `values()`: 값들을 반환합니다.
- `items()`: 키와 값의 튜플 쌍들을 반환합니다.
- `get(원하는키값)`: 원하는 키 값에 대응되는 값을 반환합니다.
 - `딕셔너리변수명[원하는키값]`과 똑같은 값을 반환합니다.
- `update`: 딕셔너리에 새로운 딕셔너리를 추가합니다.
- `zip`: 튜플/리스트 두 개를 하나의 딕셔너리로 변환합니다.

### keys, values, items

In [11]:
dic

{'name': ['merry', 'john'], 'num': [1, 2, 3], 'birth': ['jan', 'feb', 'nov']}

In [12]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['name', 'num', 'birth'])
dict_values([['merry', 'john'], [1, 2, 3], ['jan', 'feb', 'nov']])
dict_items([('name', ['merry', 'john']), ('num', [1, 2, 3]), ('birth', ['jan', 'feb', 'nov'])])

In [13]:
type(dic.items())

dict_items

- 결과를 리스트의 형태로 변환하고 싶으면 `list()`함수로 감싸줍니다.

In [14]:
print(list(dic.keys()))
print(list(dic.values()))
print(list(dic.items()))

['name', 'num', 'birth']
[['merry', 'john'], [1, 2, 3], ['jan', 'feb', 'nov']]
[('name', ['merry', 'john']), ('num', [1, 2, 3]), ('birth', ['jan', 'feb', 'nov'])]

- 딕셔너리 함수들은 뒤에서 배울 반복문을 같이 자주 씁니다.

In [15]:
for k, v in dic.items():
    print('키: ', k)
    print('값: ', v)

키:  name
값:  ['merry', 'john']
키:  num
값:  [1, 2, 3]
키:  birth
값:  ['jan', 'feb', 'nov']

### `get`

In [16]:
dic.get('name')

['merry', 'john']

In [17]:
dic['name']

['merry', 'john']

### `update`

In [18]:
dic1 = {'a':[1,2], 'b':3, 'c':[4,5,6]}
dic2 = {'d':10, 'e':[102,101]}
dic1.update(dic2)

In [19]:
dic1

{'a': [1, 2], 'b': 3, 'c': [4, 5, 6], 'd': 10, 'e': [102, 101]}

### `zip`

In [20]:
keys = ("a", "b")
values = (1,2)
result = dict(zip(keys, values))
print(result)

{'a': 1, 'b': 2}

In [21]:
keys = ["a", "b"]
values = [1,2]
result = dict(zip(keys, values))
print(result)

{'a': 1, 'b': 2}

In [22]:
keys = ["a", "b","c"]
values = [1,2]
result = dict(zip(keys, values))
print(result)

{'a': 1, 'b': 2}

## **[5] 데이터셋과 대응**
- 각 키들의 값의 길이가 같다면, Part2에서 배울 dataframe이라는 데이터셋의 형식과 대응될 수 있습니다.

In [23]:
dic = {'name':['merry','john','kevin'],\
      'num':[1,2,3],\
      'birth':['jan','feb','nov']}
dic

{'name': ['merry', 'john', 'kevin'],
 'num': [1, 2, 3],
 'birth': ['jan', 'feb', 'nov']}

In [24]:
import pandas as pd
df = pd.DataFrame(dic)
df

    name  num birth
0  merry    1   jan
1   john    2   feb
2  kevin    3   nov