## **[1] 리스트(list)란?**
- 요소들의 모음을 나타내는 자료형
- 요소들을 대괄호(`[]`)로 감싸주어 만들 수 있습니다.
- 모든 자료형을 리스트의 요소로 담을 수 있습니다.

In [1]:
a = [1,2,3,4,5]
b = ['life','is','too','short']
c = [1,2,'life','is']
d = [1,2,['life','is',['too','short']]]

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

[1, 2, 3, 4, 5] <class 'list'>
['life', 'is', 'too', 'short'] <class 'list'>
[1, 2, 'life', 'is'] <class 'list'>
[1, 2, ['life', 'is', ['too', 'short']]] <class 'list'>

In [2]:
type([1])

list

## **[2] 인덱싱**
- 문자열과 마찬가지로 인덱싱을 적용할 수 있습니다.
- 리스트 안에 리스트가 있는 경우 인덱싱을 두 번 하면 리스트 안의 리스트 요소를 가져올 수 있습니다.

In [3]:
a

[1, 2, 3, 4, 5]

In [4]:
print(a[0])
print(a[0]+a[4])
print(a[3:])
print(a[1:-1])

1
6
[4, 5]
[2, 3, 4]

In [5]:
d

[1, 2, ['life', 'is', ['too', 'short']]]

In [6]:
print(d[2])
print(d[2][2])
print(d[-1][2:])
print(d[-1][-1][-1])

['life', 'is', ['too', 'short']]
['too', 'short']
[['too', 'short']]
short

## **[3] 리스트 연산**
- 더하기와 곱하기를 할 수 있습니다.
 - `+`: 리스트와 리스트를 순서대로 연결하여 하나의 리스트를 만듭니다.
 - `*`: 리스트와 숫자형을 곱하여 리스트 안의 요소를 숫자만큼 반복한 하나의 리스트를 만듭니다.

In [7]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [8]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

- 리스트에 다른 자료형을 더하면 오류가 납니다.

In [9]:
a + 4

TypeError: can only concatenate list (not "int") to list

In [ ]:
a + [4]

## **[4] 리스트 값 치환**
- 리스트는 인덱싱을 통해 값을 수정할 수 있습니다.

In [10]:
a = [1,2,3,4,5]
print(a)
a[0] = 0
print(a)

[1, 2, 3, 4, 5]
[0, 2, 3, 4, 5]

In [11]:
a = [1, [2, 3], [4, 5, [6, 7]]]

a[0] = 10
print(a)

a[1][0] = [9, 10, 11]
print(a)

a[2][-1] = 8
print(a)

a[1][0][1:] = [20, 30]
print(a)

[10, [2, 3], [4, 5, [6, 7]]]
[10, [[9, 10, 11], 3], [4, 5, [6, 7]]]
[10, [[9, 10, 11], 3], [4, 5, 8]]
[10, [[9, 20, 30], 3], [4, 5, 8]]

In [12]:
print(a[1][0][1:])
a[1][0][1:] = 50

[20, 30]

TypeError: can only assign an iterable

## **[5] 리스트 함수**
- `len` 함수: 리스트의 길이를 구합니다.
- `sum, min, max` 함수: 리스트 요소들의 합, 최솟값, 최댓값을 구합니다.
- `in`: 특정 요소가 리스트 안에 있는지 확인합니다.
- `append, extend`: `append`는 리스트의 맨 마지막에 요소를 추가, `extend`는 리스트의 맨 마지막에 다른 리스트를 추가합니다.
- `insert`: 리스트의 특정 위치에 특정 요소를 삽입합니다.
- `remove, pop`: 리스트의 요소를 삭제합니다.
- `count`: 리스트의 특정 요소의 개수를 반환합니다.
- `index`: 리스트에 요소가 있는 경우 인덱스 값을 반환합니다.
- `sort, sorted`: 리스트를 정렬합니다.
- `join`: 리스트의 요소들을 하나의 문자열로 합칩니다.
- `split`: 문자열을 리스트의 요소들로 쪼갭니다.

### `len`

In [13]:
a = [1,2,3,4,5]
len(a)

5

### `sum, min, max`

- 리스트가 숫자형으로 이루어졌을 때 요소들의 평균을 구하려면?

In [14]:
sum(a)/len(a)

3.0

- 최솟값과 최댓값도 간단하게 구할 수 있습니다.

In [15]:
print(min(a))
print(max(a))

1
5

- 리스트의 요소가 숫자가 아니라면?

In [16]:
a = ['a','b','c','d','e']
print(sum(a))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(min(a))
print(max(a))

a
e

### `in`

In [18]:
a = ['a','b','c','d','e']
'a' in a

True

In [19]:
1 in a

False

### `append, extend`

In [20]:
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [21]:
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

### `insert`

In [22]:
a = [1,2,3,4]
a.insert(3,2)
print(a)

[1, 2, 3, 2, 4]

### `remove, pop`
- `remove`: 특정 요소를 제거
- `pop`: 특정 위치의 요소를 제거하여 그 요소를 반환

In [23]:
a = [1,2,3,4]
print(a)
a.remove(4)
print(a)

[1, 2, 3, 4]
[1, 2, 3]

In [24]:
a.pop(2)

3

In [25]:
print(a)

[1, 2]

### `count`

In [26]:
a = [1,1,2,3]
a.count(1)

2

### `index`

In [27]:
a = ['a','b',1,2]
a.index(1)

2

In [28]:
a.index(3)

ValueError: 3 is not in list

### `sort, sorted`

- `.sort()`는 정렬된 리스트를 변환하고, `sorted()`는 정렬된 리스트를 출력만 합니다.

In [29]:
a = [1,20,23,2]
a.sort()
print(a)

[1, 2, 20, 23]

In [30]:
a = [1,20,23,2]
sorted(a)

[1, 2, 20, 23]

In [31]:
print(a)

[1, 20, 23, 2]

In [32]:
a = sorted(a)
print(a)

[1, 2, 20, 23]

In [33]:
a = [1,20,23,2]
sorted(a, reverse=True)

[23, 20, 2, 1]

### `join`

In [34]:
a = ['a','b','c','d','e']
print('-'.join(a))
print('/'.join(a))
print(''.join(a))

a-b-c-d-e
a/b/c/d/e
abcde

In [35]:
a = [1,2,3,4,5]
print('-'.join(a))

TypeError: sequence item 0: expected str instance, int found

### `split`

In [36]:
a = 'a b c d e'
a.split()

['a', 'b', 'c', 'd', 'e']

In [37]:
a = 'a,b,c,d,e'
a.split(',')

['a', 'b', 'c', 'd', 'e']

## **[6] `range` 함수**
- `range(시작, 끝, 간격)`
 - 간격은 입력 안하면 디폴트가 1
- `list(range())`
 - list로 변환하고 싶을 때는 `list()`함수를 씌워주면 됩니다.

In [38]:
range(1, 10)

range(1, 10)

In [39]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [41]:
list(range(5, -11, -3))

[5, 2, -1, -4, -7, -10]