## **[1] 숫자형이란?**
- 숫자 형태로 이루어진 자료형

|항목|Python 표현 예시|
|:---------|:---|
|정수형 (int)|123, -123, 0|
|실수형 (float)|100.5, -100.5, 10e3, 10e5|

- 정수형

In [1]:
a = 123
print(a)
print(type(a))

123
<class 'int'>

In [2]:
b = -123
print(b)
print(type(b))

-123
<class 'int'>

- 실수형

In [3]:
a = 1.2
print(a)
print(type(a))

1.2
<class 'float'>

In [4]:
b = 10e3
print(b)
print(type(b))

10000.0
<class 'float'>

## **[2] 사칙연산**

In [5]:
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

## **[3] 다른 연산**

In [6]:
print(a ** b) #제곱
print(a % b) #나눗셈 후 나머지
print(a // b) #나눗셈 후 몫

81
3
0

In [7]:
a == b

False

In [8]:
(a + 1) == b

True

## **[4] 할당연산**

- 변수 a는 10의 값을 가질 때, 변수 a에 1을 더해서 a에 덮어씌우려면?

In [9]:
a = 10
print(a)
a = a + 1
print(a)

10
11

In [10]:
a = 10
print(a)
a += 1
print(a)

10
11

- 다른 사칙연산도 마찬가지로 계산할 수 있습니다.

In [11]:
a = 10
print(a)
a += 1
print(a)
a -= 1
print(a)
a *= 2
print(a)
a /= 2
print(a)

10
11
10
20
10.0

## **[5] 연습문제**

### 1. 과일 가게의 총 매출을 구해보세요.

|품목|가격|
|:---------|:---|
|바나나|1000원|
|사과|500원|
|체리|5000원|
&nbsp;

|고객|품목|판매수량|
|:---------|:---|:---|
|A|사과|2
|A|체리|3
|B|사과|4
|C|바나나|1
|C|사과|2
|C|체리|1

In [12]:
1000 * 1 + 500 * (2 + 4 + 2) + 5000 * (3 + 1)

25000

### 2. 객단가(고객 1명당 평균 매출)를 구해보세요.

In [14]:
25000 // 3

8333

### 3. 자연수 21이 홀수인지 짝수인지 판별하는 코드를 작성해보세요.

In [16]:
if 21 & 2 == 0:
    print("짝수")
else:
    print("홀수")

짝수