In [1]:
a = 100

# **변수**


---

## **[1] 변수란?**
- 데이터를 저장하고 추후에 사용할 수 있게 해주는 저장 공간
- 이름과 값으로 구성
- 이름은 변수를 참조할 때 사용되고 값은 실제 데이터를 의미

### 변수는 왜 필요할까요?

In [2]:
100 + 10

110

In [3]:
100 * 10

1000

In [4]:
100 / 10

10.0

- 같은 숫자들로 여러 연산을 하고 싶을 때, 숫자들을 변수에 저장하여 재사용한다면 편리합니다!

### 변수를 만드는 방법
- **`변수 이름 = 저장할 값`**
- 파이썬에서 '='는 변수를 저장할 때 사용하고, 등호는 '=='를 이용합니다.

In [5]:
a = 100
b = 10
print(a + b)
print(a - b)
print(a * b)
print(a / b)

110
90
1000
10.0

In [6]:
a == b

False

In [7]:
a

100

In [8]:
b

10

### 변수는 변한다.
- 변수는 공간입니다.
- 그 공간에 새로운 값을 할당하면 새로운 값으로 변경됩니다.

In [9]:
print(a)
print(b)

100
10

In [10]:
a = 10
b = 100

print(a)
print(b)

10
100

In [11]:
a = 20
a

20

- 변수를 만드는 추가적인 방법
 - `a, b = a에 저장할 값, b에 저장할 값`
   - 한 줄에 여러 개의 변수를 만들 수 있습니다.
 - `a = b = 저장할 값`
   - a와 b에 같은 값이 저장됩니다.

In [12]:
a, b = 1000, 2000
print(a)
print(b)

1000
2000

In [13]:
a = b = 500
print(a)
print(b)

500
500

## **[2] 변수 이름 규칙**
- **영문자 + 숫자(혹은 언더바 `_`)**의 형식을 사용합니다.
 - ex) `a, a1, data1, data_12`
- 주의할 점
 - 숫자가 맨 앞에 오면 안됩니다.
 - 언더바 외 특수문자가 들어가면 안됩니다.
 - 공백이 들어가면 안됩니다.
 - 소문자와 대문자는 구분되어 사용됩니다.

In [14]:
1a = 100

SyntaxError: invalid decimal literal (2705109668.py, line 1)

In [15]:
a@1 = 100

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3140184869.py, line 1)

In [16]:
a 1 = 100

SyntaxError: invalid syntax (390930875.py, line 1)

In [17]:
a = 10
A = 100
print(a)
print(A)

10
100

In [18]:
a_1 = 100
A_1 = 1000
print(a_1)
print(A_1)

100
1000

## **[3] 변수의 종류**
- 변수의 종류를 자료형이라고 부릅니다.
- 많이 사용 하는 자료형들의 종류
 - 숫자형
 - 문자형
 - 리스트(list)
 - 튜플(tuple)
 - 딕셔너리(dict)
 - 집합(set)

In [21]:
#숫자형
a = 1
b = 0.1

#문자형
c = "Hello, World"

#리스트(list)
d = [1,2,"Hello, World", b]

#튜플(tuple)
e = (1,2,3,'a')

#딕셔너리(dict)
f = {'a':1, 'b':2}

#집합(set)
g = {1,2,3,3}

In [20]:
for i in [a,b,c,d,e,f,g]:
    print(i)
    print(type(i))
    print()

1
<class 'int'>

0.1
<class 'float'>

Hello, World
<class 'str'>

[1, 2, 'Hello, World', 0.1]
<class 'list'>

(1, 2, 3, 'a')
<class 'tuple'>

{'a': 1, 'b': 2}
<class 'dict'>

{1, 2, 3}
<class 'set'>

## **[4] print 함수**
- 결과물을 출력하는 함수
- print(변수 or 출력하고 싶은 결과물)

In [22]:
print("Hello, World")
print(100/1000)

a = 'ABCDEFG'
print(a)

Hello, World
0.1
ABCDEFG

- 여러 값을 한 줄에 출력

In [23]:
print("Hello, World", 100/1000, a) #sep 옵션이 없으면 디폴트로 공백(" ")
print("Hello, World", 100/1000, a, sep=' | ')
print("Hello, World", 100/1000, a, sep='\n') #\n은 줄바꿈을 의미

Hello, World 0.1 ABCDEFG
Hello, World | 0.1 | ABCDEFG
Hello, World
0.1
ABCDEFG

- 여러 번 호출을 한 줄에 출력

In [ ]:
print("Hello, World", end=', ')
print(100/1000, end=', ')

a = 'ABCDEFG'
print(a)