## **[1] 튜플이란?**
- 리스트와 비슷하게 여러 요소들을 묶을 수 있습니다.
- 다만 튜플의 요소는 수정이나 삭제가 불가능합니다.
- 프로그램 실행 중 절대 변하지 않거나 변해서는 안되는 값들이 있다면 튜플로 저장하는 것이 좋습니다.
- 요소들을 괄호(`()`)로 감싸주면 튜플이 됩니다.

In [1]:
a = (1,2,3,4,5)
b = ('life','is','too','short')
c = (1,2,'life','is')
d = (1,2,['life','is',('too','short')])

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

(1, 2, 3, 4, 5) <class 'tuple'>
('life', 'is', 'too', 'short') <class 'tuple'>
(1, 2, 'life', 'is') <class 'tuple'>
(1, 2, ['life', 'is', ('too', 'short')]) <class 'tuple'>

- 요소가 하나일 경우는 ,를 뒤에 붙여주어야 합니다.

In [2]:
x = (3)

In [3]:
type(x)

int

In [4]:
x = (3,)

In [5]:
type(x)

tuple

## **[2] 인덱싱**
- 리스트와 마찬가지로 인덱싱을 적용할 수 있습니다.

In [6]:
a

(1, 2, 3, 4, 5)

In [7]:
print(a[0])
print(a[0]+a[4])
print(a[3:])
print(a[1:-1])

1
6
(4, 5)
(2, 3, 4)

In [8]:
d

(1, 2, ['life', 'is', ('too', 'short')])

In [9]:
print(d[2])
print(d[2][2])
print(d[-1][2:])
print(d[-1][-1][-1])

['life', 'is', ('too', 'short')]
('too', 'short')
[('too', 'short')]
short

## **[3] 튜플 연산**
- 리스트와 마찬가지로 더하기와 곱하기를 할 수 있습니다.

In [10]:
a = (1,2,3)
b = (4,5,6)
a + b

(1, 2, 3, 4, 5, 6)

In [11]:
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

- 튜플에 다른 자료형을 더하면 오류가 납니다.

In [12]:
a + 4

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
a + [4]

In [13]:
a + (3)

TypeError: can only concatenate tuple (not "int") to tuple

In [14]:
a + (3,)

(1, 2, 3, 3)

## **[4] 튜플 값 치환?**
- 튜플의 요소는 수정하거나 삭제할 수 없으므로 불가능합니다.

In [15]:
a = [1,2,3,4,5]
a[0] = 0
print(a)

[0, 2, 3, 4, 5]

In [16]:
a = (1,2,3,4,5)
a[0] = 0
print(a)

TypeError: 'tuple' object does not support item assignment

- 따라서 리스트에서 사용하는 아래 함수들은 사용할 수 없습니다.
 - `append, insert, extend, remove, pop, sort, ...`

In [17]:
a.append('a')

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

- 다만 sorted는 튜플을 리스트로 변환하여 정렬해 출력합니다.

In [19]:
sorted(a)

[1, 2, 3, 4, 5]

## **[5] 튜플 함수**
- `len`: 튜플의 길이를 구합니다.
- `sum, min, max`: 튜플의 요소들의 합, 최솟값, 최댓값을 구합니다.
- `in`: 특정 요소가 튜플 안에 있는지 확인합니다.
- `count`: 튜플의 특정 요소의 개수를 반환합니다.
- `index`: 튜플에 요소가 있는 경우 인덱스 값을 반환합니다.
- `join`: 튜플의 요소들을 하나의 문자열로 합칩니다.

In [20]:
a = (1,2,2,4,5)
print(len(a))
print(sum(a))
print(min(a))
print(max(a))
print(1 in a)
print(a.count(2))
print(a.index(2))

5
14
1
5
True
2
1

In [21]:
ls = ('a','b','c','d','e')
' '.join(ls)

'a b c d e'

## **[6] 튜플 함수 심화**
- `max(튜플, key = lambda x:x[인덱스])` : 다중 튜플의 경우 정렬 기준을 정의하여 튜플 내 최댓값을 탐색함
- `min(튜플, key = lambda x:x[인덱스])` : 다중 튜플의 경우 정렬 기준을 정의하여 튜플 내 최솟값을 탐색함

In [22]:
a = (('a', 1), ('b',7), ('c', 3), ('d', -5), ('e', -9))
print(max(a, key = lambda x:x[0]))
print(max(a, key = lambda x:x[1]))

print(min(a, key = lambda x:x[0]))
print(min(a, key = lambda x:x[1]))

('e', -9)
('b', 7)
('a', 1)
('e', -9)

- 두번째 요소의 절댓값을 기준으로 최댓값/최솟값을 탐색하고 싶다면?

In [23]:
print(max(a, key = lambda x:abs(x[1])))
print(min(a, key = lambda x:abs(x[1])))

('e', -9)
('a', 1)

- 리스트에도 비슷하게 적용할 수 있습니다.

In [24]:
b = list(a)
b

[('a', 1), ('b', 7), ('c', 3), ('d', -5), ('e', -9)]

In [25]:
print(sorted(b, key = lambda x:x[1]))
print(sorted(b, key = lambda x:x[1], reverse=True))
print(sorted(b, key = lambda x:abs(x[1])))

[('e', -9), ('d', -5), ('a', 1), ('c', 3), ('b', 7)]
[('b', 7), ('c', 3), ('a', 1), ('d', -5), ('e', -9)]
[('a', 1), ('c', 3), ('d', -5), ('b', 7), ('e', -9)]